@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

body {
  background: #fffffe;
  font-family: 'Heebo', sans-serif;
}

#header {
  background-color: #fffffe !important;
}

.url-box-wrapper {
  width: 900px;
}

.url-box {
  border-radius: 0 !important;
  border: 1px solid #2b2c34 !important;
}

.url-box:focus {
  border: 1px solid #6246ea !important;
}

.result {
  width: 800px;
  margin: auto;
}

.alert-result {
  width: 500px;
  height: 100px;
  margin: auto;
  border: 1px solid red;
}

.headline {
  color: #2b2c34;
}

.f-bold {
  font-weight: bold;
}

.fetch-btn {
  border-radius: 0 !important;
  background-color: #6246ea !important;
  border: 1px solid #6246ea !important;
  color: #fffffe !important;
}

.download-btn {
  background-color: #6246ea !important;
  color: #fffffe !important;
}

.resize {
  width: 250px;
  height: auto;
}

.resize {
  width: 150px;
  height: auto;
}


@media only screen and (max-width: 933px) {
  .url-box-wrapper {
    width: 500px;
  }

  .alert-result {
    width: 400px;
  }
}

@media only screen and (max-width: 725px) {
  .url-box-wrapper {
    width: 400px;
  }

  .result {
    width: 300px;
  }

  .alert-result {
    width: 300px;
  }
}

@media only screen and (max-width: 425px) {

  /*Small smartphones [325px -> 425px]*/
  .url-box-wrapper {
    width: 300px;
  }

  .result {
    width: 200px;
  }

  .logo {
    width: 154px;
    height: 56px;
  }

  .alert-result {
    width: 200px;
  }
}

@media only screen and (max-width: 325px) {

  /*Small smartphones [325px -> 425px]*/
  .url-box-wrapper {
    width: 250px;
  }

  .alert-result {
    width: 100px;
  }

  /* 
  .result {
    width: 100px;
  } */
}