@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background: #fffffe !important;
  font-family: 'Roboto', sans-serif !important;
}

#header {
  background-color: #fffffe !important;
}

.url-box-wrapper {
  width: 900px;
}

.url-box {
  border-radius: 0 !important;
  /* border: 1px solid #313239 !important; */
}

.url-box:focus {
  /* border: 1px solid #6246ea !important; */
  /* outline: none !important;
  border-color: #6246ea !important; */
}

.result {
  width: 800px;
  margin: auto;
}

.alert-result {
  width: 500px;
  height: 100px;
  margin: auto;
  border: 1px solid red;
}

.headline {
  color: #2b2c34;
}

.f-bold {
  font-weight: bold;
}

.fetch-btn {
  border-radius: 0 !important;
  background-color: #6246ea !important;
  border: 1px solid #6246ea !important;
  color: #fffffe !important;
  text-transform: uppercase;
}

.fetch-btn,
input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 3;
}

.fetch-btn,
input::-moz-placeholder {
  font-size: 18px;
  line-height: 3;
}

/* Firefox 19+ */
.fetch-btn,
input:-moz-placeholder {
  font-size: 18px;
  line-height: 3;
}

/* Firefox 18- */
.fetch-btn,
input:-ms-input-placeholder {
  font-size: 18px;
  line-height: 3;
}

/* IE */

.download-btn {
  border-radius: 0 !important;
  background-color: #6246ea !important;
  color: #fffffe !important;
}

.resize {
  width: 250px;
  height: auto;
}

.resize {
  width: 150px;
  height: auto;
}


@media only screen and (max-width: 933px) {
  .url-box-wrapper {
    width: 500px;
  }

  .alert-result {
    width: 400px;
  }
}

@media only screen and (max-width: 725px) {
  .url-box-wrapper {
    width: 400px;
  }

  .result {
    width: 300px;
  }

  .alert-result {
    width: 300px;
  }
}

@media only screen and (max-width: 425px) {

  /*Small smartphones [325px -> 425px]*/
  .url-box-wrapper {
    width: 300px;
  }

  .result {
    width: 200px;
  }

  .logo {
    width: 154px;
    height: 56px;
  }

  .alert-result {
    width: 200px;
  }
}

@media only screen and (max-width: 325px) {

  /*Small smartphones [325px -> 425px]*/
  .url-box-wrapper {
    width: 250px;
  }

  .alert-result {
    width: 100px;
  }

  /* 
  .result {
    width: 100px;
  } */
}