@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

body {
  background: #fffffe;
  font-family: 'Heebo', sans-serif;
}

#header {
  background-color: #fffffe !important;
}

.url-box {
  border-radius: 0 !important;
  border: 1px solid #2b2c34 !important;
}

.url-box:focus {
  border: 1px solid #6246ea !important;
}

.result {
  width: 500px;
  margin: auto;
}

.headline {
  color: #2b2c34;
}

.f-bold {
  font-weight: bold;
}

.fetch-btn {
  border-radius: 0 !important;
  background-color: #6246ea !important;
  border: 1px solid #6246ea !important;
  color: #fffffe !important;
}

.download-btn {
  background-color: #6246ea !important;
  color: #fffffe !important;
}

.resize {
  width: 300px;
  height: auto;
}

.resize {
  width: 200px;
  height: auto;
}